<div class="home-page">
    <div class="home-header">
        <div class="home-container-header-title">
            <h1>Fundamentos de Banco de Dados</h1>
        </div>
    </div>
    <div class="home-container">
        <div class="home-tab-container">
            <mat-tab-group>
                <mat-tab label="Alunos">
                    <div class="tab-content">
                        <app-tabela-alunos [dataSource]="dataSource"></app-tabela-alunos>
                    </div>
                </mat-tab>

                <mat-tab label="Professores">
                    <div class="tab-content">
                        <app-tabela-professores [dataSource]="dataSourceProf"></app-tabela-professores>
                    </div>
                </mat-tab>

                <mat-tab label="Disciplinas">
                    <div class="tab-content">
                        <app-tabela-disciplinas [dataSource]="dataSourceDisc"></app-tabela-disciplinas>
                    </div>
                </mat-tab>

                <mat-tab label="Turmas">
                    <div class="tab-content">
                        <app-tabela-turmas [dataSource]="dataSourceTurm"></app-tabela-turmas>
                    </div>
                </mat-tab>
                <!--<mat-tab label="Histórico">
                    <div class="tab-content">
                        <app-tabela-alunos [dataSource]="dataSource"></app-tabela-alunos>
                    </div>
                </mat-tab>
                -->
            </mat-tab-group>
            <div class="fab-group">
                <div class="example-button-container">
                    <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="openDialog()">
                        <mat-icon>search</mat-icon>
                        Consultas
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                        <mat-icon>add</mat-icon>
                        Transacções
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>